In [2]:
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso
import warnings
%pwd

'c:\\機器學習'

In [3]:
#, nrows=100000
Bike = pd.read_csv("C:/機器學習/df_0907.csv", sep=",")

C:\Users\Student\AppData\Local\Temp\ipykernel_4844\3290525702.py:2: DtypeWarning: Columns (25,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  Bike = pd.read_csv("C:/機器學習/df_0907.csv", sep=",")

In [4]:
Bike['Popular_groups']= (Bike['rent_count']+Bike['return_count'])/Bike['tot']

In [5]:
groups=[]
for i in Bike['Popular_groups']:
    if i < 0.5:
        groups.append('H')
    elif (i >= 0.5) & (i < 1 ):
        groups.append('G')
    else:
        groups.append('U')
Bike["groups"] = groups

Bike

,sno,bike_lat,bike_lng,tot,time,date,Hr,weekday,weekday_num,holiday,...,Generation,outlier,sarea,UVI,return_sec,rent_sec,rent_count,return_count,Popular_groups,groups
0,80,25.02751,121.495869,44,2017-01-04 12:00:00,2017-01-04,12,Wednesday,3,0,...,1,True,萬華區,5,1729,15884,9,1,0.227273,H
1,80,25.02751,121.495869,44,2017-01-07 05:00:00,2017-01-07,5,Saturday,6,1,...,1,True,萬華區,0,1427,7507,2,1,0.068182,H
2,80,25.02751,121.495869,44,2017-01-07 21:00:00,2017-01-07,21,Saturday,6,1,...,1,True,萬華區,0,12290,16787,10,13,0.522727,G
3,80,25.02751,121.495869,44,2017-01-09 07:00:00,2017-01-09,7,Monday,1,0,...,1,True,萬華區,0,8997,8095,12,17,0.659091,G
4,80,25.02751,121.495869,44,2017-01-14 12:00:00,2017-01-14,12,Saturday,6,1,...,1,True,萬華區,1,5203,6130,7,8,0.340909,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19212469,500112084,25.02976,121.564200,13,2022-04-30 17:00:00,2022-04-30,17,Saturday,6,1,...,2,True,信義區,0,2048,2914,3,2,0.384615,H
19212470,500112084,25.02976,121.564200,13,2022-04-29 11:00:00,2022-04-29,11,Friday,5,0,...,2,True,信義區,6,741,645,2,1,0.230769,H
19212471,500112084,25.02976,121.564200,13,2022-04-29 09:00:00,2022-04-29,9,Friday,5,0,...,2,True,信義區,4,0,2127,1,0,0.076923,H
19212472,500112084,25.02976,121.564200,13,2022-04-29 18:00:00,2022-04-29,18,Friday,5,0,...,2,True,信義區,0,2402,3121,2,2,0.307692,H
19212473,500112084,25.02976,121.564200,13,2022-04-29 16:00:00,2022-04-29,16,Friday,5,0,...,2,True,信義區,1,0,729,1,0,0.076923,H

In [6]:
Bike_Top_Sites=Bike[Bike['groups']=='H']
Bike_Top_Sites.to_csv("Top_Sites.csv",index=None)

In [7]:
Bike_Top_Sites=Bike[Bike['groups']=='G']
Bike_Top_Sites.to_csv("General Sites.csv",index=None)

In [8]:
Bike_Top_Sites=Bike[Bike['groups']=='U']
Bike_Top_Sites.to_csv("Unpopular Sites.csv",index=None)